<!DOCTYPE html>
<html>
  <head>
    <title>Instacopy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="navbar-page">
    <div class="container">
      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <!-- <span class="icon-bar"></span> -->
            </button>
            <a class="navbar-brand" href="./">InstaCopy</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./posts/new">New Post</a></li>
              <li><a href="../navbar-static-top/">Login</a></li>
              <li><a href="../navbar-fixed-top/">Register</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </div>
  <body>
      <div class="posts-wrapper row"
        <% @posts.each do |post| %>
          <div class="post">
            <div class="post-head">
              <div class="name">
                Amy Louise
              </div>
            </div>
            <div class="center-block">
              <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>            </div>
          <p class="caption">
            <%= post.caption %>
          </p>
        </div>
      <% end %>


  </body>
</html>
